<header class="header">
  <h1>My Todos</h1>
  <form (ngSubmit)="addTodo(todoFormAdd)" #todoFormAdd="ngForm">
    <input class="new-todo" placeholder="Enter title of your todo" name="todo" autofocus ngModel>
  </form>
</header>
<section class="main" *ngIf="filterArray.length > 0">
  <ul class="todo-list">
    <li *ngFor="let todo of filterArray">
      <input class="toggle" type="checkbox" (click)="changeTodoStatus(todo)" [checked]="todo.completed">
      {{todo.title}}
      <button class="destroy" (click)="removeTodo(todo)">X</button>
    </li>
  </ul>
</section>
<section class="filters">
  <button (click)="filterTodo('ALL')">Show All Todos</button>
  <button (click)="filterTodo('COMPLETED')">Show Completed Todos</button>
  <button (click)="filterTodo('ACTIVE')">Show Active Todos</button>
</section>
